<template>
  <b-container class="bv-example-row bv-example-row-flex-cols">
    <b-row align-v="start">
      <br />
      เลือกประเภทงาน
      <b-col>
        <br />
        <b-form-select
          style="width: 200px"
          v-model="selected"
          :options="options"
          class="mb-3"
        >
          <template #first>
            <b-form-select-option :value="null" disabled
              >-- Select Option --</b-form-select-option
            >
          </template>
        </b-form-select>
      </b-col>
      <br />
      ใส่ชื่อจังหวัด
      <b-col>
        <br />
        <b-form-input
          style="width: 200px"
          v-model="value"
          type="text"
          debounce="500"
        ></b-form-input>
      </b-col>
      <br />
      ใส่ชื่อตำแหน่ง
      <b-col>
        <br />
        <b-form-input
          style="width: 200px"
          v-model="value"
          type="text"
          debounce="500"
        ></b-form-input>
      </b-col>
    </b-row>
    <b-row align-v="center">
      <br />
      ใส่เงินเดือนขั้นต่ำ
      <b-col>
        <br />
        <b-form-input
          style="width: 200px"
          v-model="value"
          type="text"
          debounce="500"
        ></b-form-input>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      selected: null,
      options: [
        { value: 'งานประจำ', text: 'งานประจำ' },
        { value: 'งานนอกเวลา', text: 'งานนอกเวลา' },
        { value: 'งานอิสระ', text: 'งานอิสระ' },
        { value: 'นักศึกษาฝึกงาน', text: 'นักศึกษาฝึกงาน' },
        { value: 'สัญญาจ้าง', text: 'สัญญาจ้าง' },
        { value: 'สหกิจศึกษา', text: 'สหกิจศึกษา' }
      ]
    }
  }
}
</script>
