<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="#">GOLDPLUS</b-navbar-brand>
      <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle> -->

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="profile">Profile</b-dropdown-item>
            <b-dropdown-item href="signOut">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-navbar toggleable="lg" type="danger" variant="danger">
      <b-container class="bv-example-row">
        <b-row align-h="center">
          <b-col><b-button squared variant="danger" size="lg" to="/">Home</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/company">Company</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/login">Login</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/jobseeker">Jobseeker</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/jobposting">Jobposting</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/search">Search</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/showdetail">Showdetail</b-button></b-col>
          <b-col><b-button squared variant="danger" size="lg" to="/companycheck">CompanyCheck</b-button></b-col>
        </b-row>
      </b-container>
    </b-navbar>
  </div>
</template>
