<template>
  <div>
    <b-nav vertical class="w-25"><br>
      <b-button pill variant="outline-danger" to="/">Home</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/company">Company</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/login">Login</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/jobseeker">Jobseeker</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/jobposting">Jobposting</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/search">Search</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/showdetail">Showdetail</b-button>
      <br>
      <b-button pill variant="outline-danger" to="/companycheck">CompanyCheck</b-button>
      <br>
    </b-nav>
  </div>
</template>
